# Prisma
DATABASE_URL="file:./dev.db"

# Supabase Auth Settings
NEXT_PUBLIC_SUPABASE_URL="https://tfnpwbolqgkpsfilhiqq.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="sb_publishable_IRYXMUqoCdq9Hw3L557PeQ_EverIAzG"
SUPABASE_SERVICE_ROLE_KEY="sb_secret_29sCvzapQF76VwhVsvidXA_fsDsNUpz"

# Stripe (Test Keys)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_51Lp4efAElm5ocjhNnu2upE9hCXsjPon0UpoPpOYMYeLZ0BQr01AkltGcfaedVlS3qK0UtEsRtpl3SCUc1W5jH7oJ000omCA7G1"
STRIPE_SECRET_KEY="sk_test_51Lp4efAElm5ocjhNfBs3lznDD9uNUbxyU4PGwdalAHuTWeAQGmEAK17xP1nKWvglYHehFVjlXpBVesjDg7mSKBZ200Z6Kv1UZ1"

# Stripe Webhook
STRIPE_WEBHOOK_SECRET=""

# Site URL (for local development)
NEXT_PUBLIC_SITE_URL="http://localhost:3300"
